@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'League Spartan', sans-serif;
}

.theme-first {
  --main: hsl(222, 26%, 31%);
  --toggleBg: hsl(223, 31%, 20%);
  --screen: hsl(224, 36%, 15%);
  --key: hsl(30, 25%, 89%);
  --keySh: hsl(28, 16%, 65%);
  --keySec: hsl(225, 21%, 49%);
  --keySecSh: hsl(224, 28%, 35%);
  --toggle: hsl(6, 63%, 50%);
  --toggleSh: hsl(6, 70%, 34%);
  --txtColor: hsl(221, 14%, 31%);
  --txtColorSec: hsl(198, 20%, 13%);
  --txtWhite: hsl(0, 0%, 100%);
}

.theme-second {
  --main: hsl(0, 0%, 90%);
  --toggleBg: hsl(0, 5%, 81%);
  --screen: hsl(0, 0%, 93%);
  --key: hsl(45, 7%, 89%);
  --keySh: hsl(35, 11%, 61%);
  --keySec: hsl(185, 42%, 37%);
  --keySecSh: hsl(185, 58%, 25%);
  --toggle: hsl(25, 98%, 40%);
  --toggleSh: hsl(25, 99%, 27%);
  --txtColor: hsl(60, 10%, 19%);
  --txtColorSec: hsl(198, 20%, 13%);
  --txtWhite: hsl(0, 0%, 100%);
}

.theme-third {
  --main: hsl(268, 75%, 9%);
  --toggleBg: hsl(268, 71%, 12%);
  --screen: hsl(268, 71%, 12%);
  --key: hsl(268, 47%, 21%);
  --keySh: hsl(290, 70%, 36%);
  --keySec: hsl(281, 89%, 26%);
  --keySecSh: hsl(285, 91%, 52%);
  --toggle: hsl(176, 100%, 44%);
  --toggleSh: hsl(177, 92%, 70%);
  --txtColor: hsl(52, 100%, 62%);
  --txtColorSec: hsl(198, 20%, 13%);
  --txtWhite: hsl(0, 0%, 100%);
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  border-radius: 15px;
  background: var(--toggleBg);
  outline: none;
  opacity: 0.7;
  padding: 4px;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: var(--toggle);
  cursor: pointer;
}
